<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-4.3.1/dist/css/bootstrap.css">
    <script src="/css/bootstrap-4.3.1/dist/js/bootstrap.min.js"></script>
    <script src="/js/jquery.min.js"></script>

    <title>Edit Record</title>
</head>
<body>
    <div class="container">
    <% editUser.forEach((item) => {%>
    <form action="/edit/<%= item.id %>" method="POST">
        <label for="name">Full Name:</label>
        <input type="text" name="name" id="name" value="<%=item.fullname%>">

        <label for="email">Email Address:</label>
        <input type="text" name="email" id="email" value="<%=item.email%>">

        <label for="age">Age:</label>
        <input type="text" name="age" id="age" value="<%=item.age%>">

        <label for="address">Address:</label>
        <input type="text" name="address" id="address" value="<%=item.address%>">

        <label for="gender">Gender:</label>
        <input type="text" name="gender" id="gender" value="<%=item.gender%>">

        <div id="btn">
            <button type="submit" class="btn btn-primary col-lg-1">Update</button>
            <a href="/" class="btn btn-warning">Go to List</a>
        </div>

    </form>
    <% }) %>
</div>
</body>
</html>